.header {
  height: 64px;
  background-color: var(--white);
  border-bottom: 1px solid var(--border-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

/* LEFT */
.left {
  display: flex;
  align-items: center;
}

/* RIGHT */
.right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.iconBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: var(--text-muted);
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconBtn img {
  width: 20px;
  height: 20px;
}
.flag {
  width: 32px;
  height: 32px;
  border-radius: 40%;
  object-fit: cover;
  border: 1px solid var(--border-light);
}


/* AVATAR */
.avatarWrapper {
  position: relative;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.status {
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 8px;
  height: 8px;
  background-color: #28c76f;
  border: 2px solid white;
  border-radius: 50%;
}
